@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-bold-webfont.woff') format('woff'),
       url('./fonts/roboto/roboto-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-medium-webfont.woff') format('woff'),
       url('./fonts/roboto/roboto-medium-webfont.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
       url('./fonts/roboto/roboto-regular-webfont.woff') format('woff'),
       url('./fonts/roboto/roboto-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Indie Flower';
  src: url('./fonts/indie_flower/indieflower-regular-webfont.woff2') format('woff2'),
       url('./fonts/indie_flower/indieflower-regular-webfont.woff') format('woff'),
       url('./fonts/indie_flower/indieflower-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #FBF9F4;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.show {
  display: block !important;
  opacity: 1;
}

main {
  display: flex;
  width: 100%;
  height: 100%;

  & > div {
    margin: auto;
  }
}

.tooltip {
  display: none;
  width: max-content;
  position: absolute;
  z-index: 5;
  color: black;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: 4px;
  font-size: 2.25rem;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  background: #f8f1df;
  border: 1px solid #f8ebcb;
  max-width: 17.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
  word-break: break-word;
  pointer-events: none;
  transition: opacity .6s ease-in-out .2s;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-top: 2.5rem /* 40px */;
  padding-bottom: 2.5rem /* 40px */;
}

.figure-wrapper {
  max-width: 20rem;
  width: 100%;
}

.figure-wrapper > svg {
  width: 20rem;
  max-width: 100%;
  display: block;
  height: auto;
  vertical-align: middle;
  cursor: pointer;
}

.figure-wrapper > svg path {
  transition: fill .5s ease, stroke .5s ease;
}

.section {
  padding-top: 3rem /* 48px */;
  padding-bottom: 3rem /* 48px */;
}

.link {
  color: rgb(29 78 216 / 1) /* #1d4ed8 */;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  display: flex;
  align-items: center;
  gap: 0.5rem /* 8px */;
  margin-bottom: 1rem /* 16px */;
  text-decoration: none;
  flex-wrap: wrap;
}

.link:hover {
  color: rgb(59 130 246 / 1) /* #3b82f6 */;
}

.link__title {
  margin: 0;
  font-size: 3.75rem /* 60px */;
  line-height: 1;
  font-weight: 700;
}

.link__icon {
  display: block;
  width: 2rem /* 32px */;
  height: 2rem /* 32px */;
}

.paragraph {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
